<footer class="mx-4">

    <div>
        <!-- First footer Start -->
        <div class="flex justify-between bg-[#e7f0f5] p-12">
            <div class="w-96">
                <div class="w-40 h-36">
                    <img class="w-full h-full"
                        src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/boAt_logo.svg" alt="">
                </div>
                <h1 class="text-2xl font-bold tracking-wider mb-1">Subscribe to our email alerts!</h1>
                <div class="flex w-full bg-white rounded-xl border">
                    <input type="email"
                        class="w-full py-[10px] px-3 rounded-xl  placeholder:font-thin placeholder:text-sm placeholder:text-gray-500"
                        placeholder="Enter your email address">
                    <button class="pr-8 z-50 mt-1"> <mat-icon class="text-gray-400 ">arrow_circle_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="Shop1">
                <h2 class="font-semibold text-sm mb-4">Shop</h2>
                <p class="text-sm font-serif mb-3">True Wireless Earbuds</p>
                <p class="text-sm font-serif mb-3">Wired Headphones</p>
                <p class="text-sm font-serif mb-3">Earbuds Under 1000</p>
                <p class="text-sm font-serif mb-3">Smart Watches</p>
                <p class="text-sm font-serif mb-3">Misfit Trimmers</p>
            </div>
            <div class="Shop1 mt-12">
                <p class="text-sm font-serif mb-3">Wireless Headphones</p>
                <p class="text-sm font-serif mb-3">Wireless Speakers</p>
                <p class="text-sm font-serif mb-3">Mobile Accessories</p>
                <p class="text-sm font-serif mb-3">TRebel</p>
                <p class="text-sm font-serif mb-3">Refer & Earn</p>
            </div>
            <div class="Help">
                <h1 class="font-semibold text-sm mb-4">Help</h1>
                <p class="text-sm font-serif mb-3">Track Your Order</p>
                <p class="text-sm font-serif mb-3">Warranty & Support</p>
                <p class="text-sm font-serif mb-3">Return Policy</p>
                <p class="text-sm font-serif mb-3">Service Centers</p>
                <p class="text-sm font-serif mb-3">Bulk Orders</p>
                <p class="text-sm font-serif mb-3">FAQs</p>
                <p class="text-sm font-serif mb-3">Why Buy Direct</p>
            </div>
            <div class="Company mr-36">
                <h1 class="font-semibold text-sm mb-4">Company</h1>
                <p class="text-sm font-serif mb-3">About boAt</p>
                <p class="text-sm font-serif mb-3">News</p>
                <p class="text-sm font-serif mb-3">Read Our Blog</p>
                <p class="text-sm font-serif mb-3">Careers</p>
                <p class="text-sm font-serif mb-3">Security</p>
                <p class="text-sm font-serif mb-3">Investor Relations</p>
                <p class="text-sm font-serif mb-3">Social Responsibility</p>
                <p class="text-sm font-serif mb-3">Warranty Policy</p>
            </div>
        </div>

        <!-- First footer END -->

        <!-- Secound footer Start -->

        <div class="w-full">
            <div class="secound1 w-full flex justify-between px-8 py-8 bg-[#f1f6f8]">
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">True Wireless Earbuds</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div>
                    <h1 class="font-semibold  tracking-wider text-sm mb-4">Wireless Speakers</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Limited Editions</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div class="mr-80">
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Cables</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
            </div>
            <div class="secound1 w-full flex justify-between px-8 py-8 bg-[#f1f6f8]">
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div class="">
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div class="w-[400px]">

                </div>

            </div>
            <div class="secound1 w-full flex justify-between px-8 py-8 bg-[#f1f6f8]">
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div class="">
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div class="w-[400px]">

                </div>
            </div>
            <div class="secound1 w-full flex justify-between px-8 py-8 bg-[#f1f6f8]">
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div class="">
                    <h1 class="font-semibold  tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div class="w-[400px]">

                </div>
            </div>
            <div class="secound1 w-full flex justify-between px-8 py-8 bg-[#f1f6f8]">
                <div class="ml-20">

                </div>
                <div>
                    <h1 class="font-semibold tracking-wider  text-sm mb-4">Company</h1>
                    <h2 class="font-medium text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>
                <div>
                    <h1 class="font-semibold tracking-wider text-sm mb-4">Company</h1>
                    <h2 class="font-medium  text-sm mb-4">Shop by Features</h2>
                    <p class="text-sm font-serif mb-3">About boAt</p>
                    <p class="text-sm font-serif mb-3">News</p>
                    <p class="text-sm font-serif mb-3">Read Our Blog</p>
                    <p class="text-sm font-serif mb-3">Careers</p>
                    <p class="text-sm font-serif mb-3">Security</p>
                </div>

                <div class="w-[400px]">

                </div>
            </div>
        </div>
        <!-- Secound footer END -->
        <!-- Thirth footer Start -->
        <div class="  bg-[#e7f0f5] p-12">
                <div class="items-center text-center">
                    <h1>Let's get social</h1>
                    <mat-icon class="text-black    ">youtube_activity</mat-icon>

                </div>
                <div class="flex justify-center mb-3">
                    <h1 class="mr-5 text-sm">Privacy Policy</h1>
                    <h1 class=" text-sm"> Terms & Conditions</h1>
                </div>
                <div class="mb-3">
                    <p class="text-center text-sm">© 2024 Imagine Marketing Limited. All Rights Reserved.</p>
                </div>
                <div class="w-full md:w-[50%] mx-auto text-center">
                    <p class="text-sm">For queries contact us: Manager, Imagine Marketing Limited Unit no. 204 & 205, 2nd floor, D-wing & E-wing,</p>
                    <p class="text-sm text-center" >Corporate Avenue, Andheri Ghatkopar Link Road, Mumbai, Maharashtra-400093, Indi</p>
                </div>
        </div>
        <!-- Thirth footer END -->
    </div>
</footer>